/* ==========================================================================
	Foundation
========================================================================== */

* { @include box-sizing(border-box); }
html, button, input, select, textarea { color:#222; }
html { font-size: 1em; line-height: 1.4;}
body { font-family: $sans-serif; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
hr { display: block; border: 0; border-top: 1px solid #ccc; height: 1px; margin: 1em 0; padding: 0; }
audio, canvas, video { vertical-align: middle; }
img { display:block; margin:0 auto; vertical-align:middle; max-width:100%; }
fieldset { border: 0; margin: 0; padding: 0; }
textarea { resize: vertical; }
.browsehappy { background:#999; color:#fff; margin:0; padding:0.5em; 
	a {color:#fff;}
}
a { color: $website-green; @include transition( color 0.25s ease );
    &:hover { color: lighten($website-green, 30%); }
}

/* ==========================================================================
	Header
========================================================================== */





/* ==========================================================================
	Content
========================================================================== */





/* ==========================================================================
	Sidebar
========================================================================== */





/* ==========================================================================
	Footer
========================================================================== */