/* ==========================================================================
	Variables
========================================================================== */

// Fonts
$sans-serif:  Arial, Helvetica, sans-serif;
$serif:       "Times New Roman", serif;

// Colors
$blue:        #0e5088;
$green:       #0d7267;
$orange:      #e5562f;

// Color Assignments
$link-color:  $blue;

// Media Query Breakpoints
$xsmall:      20em;  // 320px
$small:       30em;  // 480px
$medium:      48em;  // 768px
$large:       64em;  // 1024px
$xlarge:      80em;  // 1280px