/* ==========================================================================
	Variables
========================================================================== */

// Fonts
$sans-serif: Arial, Helvetica, sans-serif;
$serif: "Times New Roman", serif;

// Colors
$cyb-blue:     #0e5088;
$cyb-green:    #0d7267;
$cyb-orange:   #e5562f;

// Media Query Breakpoints
$mobile-small: 15em; // 240px
$mobile-large: 20em; // 320px
$tablet-small: 30em; // 480px
$tablet-large: 48em; // 768px
$desktop-small: 64em; // 1024px
$desktop-large: 80em; // 1280px